.portfolio-img img{
    height:255px;
    width:350px;
  }

  

.portfolio-single h5 {
    color: #fff;
    margin-top: 15px;
    margin-bottom: 0;
    font-weight: 700;
}

.portfolio-single h6 {
    color: #a4acc4;
    margin-bottom: 0;
}
