.aboutImg {
    position: relative;
}

.aboutImg:after, .aboutImg:before {
    content: "";
    position: absolute;
    height: 65%;
    width: 15px;
    background: rgba(146,161,207,.6);
}

.aboutImg:before {
    left: 0;
    top: 0;
}

.aboutImg:after {
    left: auto;
    right: 0;
    top: auto;
    bottom: 0;
}

.aboutImg img{
  width: 100%;
  height:400px;
}


.about-content ul li {
    list-style: none;
    display: flex;
}

.about-content ul li:not(:last-child) {
    margin-bottom: 3px;
}

.about-content ul li b {
    min-width: 120px;
    display: inline-block;
    position: relative;
    margin-right: 7px;
}

.about-content ul li b:after {
    content: ":";
    position: absolute;
    top: 0;
    left: auto;
    right: 0;
}



.btnStyle{
    position: relative;
    padding: 0 30px;
    background: #92A1CF;
    color: #fff;
    border: 0;
    display: inline-block;
    z-index: 1;
    text-transform: uppercase;
    font-size: .9rem;
    letter-spacing: 2px;
    height: 50px;
    line-height: 50px;
  margin-top: 15px;
  transition: all .4s ease-out;
}

.btnStyle:before {
    content: "";
    position: absolute;
    left: 0;
    top: auto;
    bottom: 0;
    height: 2px;
    width: 100%;
    background: #fff;
    z-index: -1;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
  transition: all .4s ease-out;
}

.btnStyle:hover {
    color: #fff;
}

.btnStyle:hover:before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}