@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');


*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

body{
    font-size: 18px;
    line-height: 1.8rem;
    font-family: "Nunito", sans-serif;
    color:#a4acc4;
    font-weight: 400;
    background-color: #10121b;
}


h1, h2, h3, h4, h5, h6 {
    font-family: Nunito,sans-serif;
    color: #fff;
}

a:active, a:focus, a:hover {
    text-decoration: none;
    outline: none;
}

.mt-30-reverse {
    margin-top: -30px;
}

.mt-30{
    margin-top:30px;
}

h5 {
    font-size: 1.43rem;
    line-height: 2.14rem;
}